pydantic==2.10.6       # модели и валидация
pydantic-settings==2.10.1
fastapi==0.115.11      # REST API
uvicorn==0.34.0        # ASGI сервер для запуска FastAPI

pytest==8.3.3
pytest-asyncio==0.25.2
httpx==0.28.1          # клиент для тестирования API (через TestClient)
